/****** Main Styling ******/
* {
box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
	text-align: center;
}

.container {
  margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;

}

.footer {
	margin-top: 60px;
}

ol {
	list-style-position: inside;
  text-align: left;
  line-height: 1.6em;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid;
  border-radius: 4px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline;
}

input[type=submit],[type=file] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  width: 100%;
}

input[type=submit]:hover,[type=file]:hover {
  background-color: #45a049;
}

/* Styling file inputs */
input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 100%;
}
.custom-file-upload:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.col-100 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
  .container {
    width: 90%;
  }
}
